@import "@/assets/variables.scss";
.table-overflow {
  width: 100%;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 450px;
  }
  .row {
    border-bottom: 1px solid $--color-border-default;
  }
  .todo_completed {
    opacity: 0.5;
  }
  .table_header_sticky {
    position: sticky;
    top: 0;
    background-color: black;
    width: 1200px;
    color: #fff;
    .row > .text {
      padding: 16px;
      font-weight: 600;
      box-sizing: border-box;
    }
  }
  .table_content {
    .row > .text {
      padding: 16px;
      font-weight: 600;
      box-sizing: border-box;
    }
  }
  .stt {
    width: 60px;
    box-sizing: border-box;
    text-align: center;
  }
  .title {
    width: 250px;
  }
  .status {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .level {
    width: 100px;
  }
  .date {
    width: 150px;
  }
  .description {
    flex: 1;
  }
  .dot-status {
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }
  .action {
    padding: 0 25px;
  }
  .dot-status--proccesing {
    background-color: $--color-dot-status-processing;
  }
  .dot-status--completed {
    background-color: $--color-dot-status-completed;
  }
  .dot-status--pending {
    background-color: $--color-dot-status-pending;
  }
  .table_content {
    width: 1200px;
    .row > .text {
      padding: 16px;
    }
  }
  .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}
